@font-face {
  font-family: "Light";
  src: url("../fonts/TheSansLight.ttf"); }
@font-face {
  font-family: "semiBold";
  src: url("../fonts/TheSans-6-SemiBold.otf"); }
@font-face {
  font-family: "Bold";
  src: url("../fonts/TheSansBold.otf"); }
.p1, .p2, .p3 {
  margin: 0;
  padding: 0; }

.p1 {
  font-family: "Light";
  font-size: 82px;
  line-height: 82px; }
  @media (max-width: 1199px) {
    .p1 {
      font-size: 62px;
      line-height: 62px; } }

.p2 {
  font-family: "Bold";
  font-size: 82px;
  line-height: 82px; }
  @media (max-width: 1199px) {
    .p2 {
      font-size: 62px;
      line-height: 62px; } }

.p3 {
  font-family: "Light";
  font-size: 20px;
  line-height: 20px;
  margin: 20px 0; }
  @media (max-width: 1199px) {
    .p3 {
      font-size: 16px; } }

.btn {
  font-size: 20px;
  outline: none; }

.btn-container {
  margin: 10px 0 50px 0;
  padding: 0; }

.btn-naranja {
  background: #e5503f;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  color: #fff;
  font-family: "Bold"; }
  .btn-naranja:hover, .btn-naranja:active {
    background: rgba(229, 80, 63, 0.8);
    box-shadow: none;
    color: #fff;
    outline: none; }
  .btn-naranja:focus {
    appearence: none;
    background: #e5503f;
    box-shadow: none;
    color: #fff;
    outline: none; }

.btn-formu {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "semiBold";
  font-size: 24px;
  transition: all ease 0.2s; }
  .btn-formu:hover, .btn-formu:focus {
    color: #fff;
    background: #e5503f;
    border: 2px solid #e5503f;
    box-shadow: none;
    outline: none; }

.navbar {
  font-family: "Bold";
  height: 165px;
  margin-bottom: 0;
  padding-top: 25px; }
  @media (max-width: 991px) {
    .navbar {
      height: 85px;
      padding-top: 0; } }

.navbar-header {
  height: 85px; }

.navbar-toggle {
  margin-top: 40px;
  padding: 0px; }
  .navbar-toggle .icon-bar {
    background-color: #e5503f; }

#nav-icon4 span {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg); }

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg); }

.navbar-collapse {
  background: #fff; }

.languaje {
  background: #fff;
  height: 107px;
  line-height: 52px; }
  @media (max-width: 991px) {
    .languaje {
      height: 22px;
      padding: 0 0 50px 0;
      text-align: center;
      width: 100%; } }

.btn-languaje {
  background: none;
  color: rgba(62, 70, 70, 0.2);
  padding: 0; }
  .btn-languaje:hover, .btn-languaje:focus, .btn-languaje:active {
    background: none;
    box-shadow: none;
    color: rgba(62, 70, 70, 0.2);
    outline: none; }

.btn-languaje-active {
  background: none;
  color: #3e4646;
  padding: 0; }
  .btn-languaje-active:hover, .btn-languaje-active:focus, .btn-languaje-active:active {
    background: none;
    box-shadow: none;
    color: #3e4646;
    outline: none; }

.languaje-bar {
  color: #3e4646; }

.navbar-nav li a {
  background: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  color: #e5503f;
  font-size: 20px;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center; }
  .navbar-nav li a:hover {
    background: #fff;
    border: 1px solid #e5503f; }
  .navbar-nav li a:focus {
    background: #e5503f;
    border: 1px solid #e5503f;
    color: #fff; }
.navbar-nav li:last-child a:hover {
  border: 1px solid #fff; }
.navbar-nav li:last-child a:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #e5503f; }

.linea {
  border-bottom: 1px solid #3e4646;
  float: left;
  margin-top: 20px;
  width: 100%; }

.nosotros .container {
  background-image: url("../img/fondoNosotros.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 100px; }
  @media (max-width: 991px) {
    .nosotros .container {
      background-image: none; } }
.nosotros .p1 {
  color: #3e4646; }
.nosotros .p2 {
  color: #e5503f; }
.nosotros .p3 {
  color: #3e4646; }
.nosotros img {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto; }

.tecnologia {
  background-image: url("../img/fondoNaranja.jpg");
  background-size: cover;
  padding-bottom: 75px;
  padding-top: 75px; }
  .tecnologia .fondoTecno {
    background-image: url("../img/fondoTecno.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 550px; }
    @media (max-width: 1199px) {
      .tecnologia .fondoTecno {
        background-image: url("../img/fondoTecnoMD.png");
        height: 500px; } }
    @media (max-width: 991px) {
      .tecnologia .fondoTecno {
        background-image: none;
        height: auto; } }
  .tecnologia .p-container {
    padding: 0; }
  .tecnologia .p1, .tecnologia .p2, .tecnologia .p3 {
    color: #fff;
    text-align: right; }
    @media (max-width: 991px) {
      .tecnologia .p1, .tecnologia .p2, .tecnologia .p3 {
        text-align: left; } }
  .tecnologia img {
    margin: 75px 0 0 0; }

.modal-content {
  background-image: url("../img/fondoGris.jpg"); }
  @media (max-width: 991px) {
    .modal-content {
      margin-left: 5%;
      width: 90%; } }

.modal-header {
  border: none; }
  .modal-header .close {
    outline: none; }

.modal-footer {
  border: none;
  text-align: left; }

.modal-title {
  color: #fff;
  font-family: "Bold";
  font-size: 48px; }

.formContacto .form-group {
  margin-bottom: 50px !important; }
.formContacto label {
  color: #fff;
  font-family: "semiBold";
  font-size: 24px; }
.formContacto input, .formContacto textarea {
  color: #fff;
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  font-family: "semiBold";
  resize: none;
  transition: all ease 0.8s; }
  .formContacto input:hover, .formContacto input:focus, .formContacto textarea:hover, .formContacto textarea:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: none; }

/*# sourceMappingURL=estilos.css.map */
