* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #FAFAFA;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
}
.logo {
	background-color: #000;
}
.logo img {
	width: 30%;
	margin: 0 35%;
}
@media (max-width: 768px){
	.logo img {
		width: 70%;
		margin: 0 15%;
	}
}
.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}
.principal {
	background: #000;
	color: #fff;
	padding: 50px 0;
	margin: 0;
	width: 100%;
}
@media (max-width: 768px){
	.principal {
		padding: 15px 0 50px 0;
	}
}
.principal .formulario {
	color: #212121;
	text-align: center;
}
.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}
.principal .formulario input[type=text].error {
	border: 5px solid red;
}
.principal .formulario .boton {
	background: none;
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
}
.principal .formulario .boton:hover,
.principal .formulario .boton:active {
	border: 1px solid #AFB500;
	color: #AFB500;
}
.tareas .lista {
	list-style: none;
}
.tareas .lista li {
	border-bottom: 1px solid #AFB500;
}
.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}
.tareas .lista li a:hover {
	text-decoration: line-through;
}