.formContacto {
    font-family: Merri;
    width: 60%;
    margin: 0 20%;
}
    .formContacto p {
        text-align: left;
        width: 100%;
    }
    .formContacto input, .formContacto textarea {
        font-family: Merri;
        line-height: 1rem;
        width: 100%;
        resize: none;
        border: 1px solid #AFB500;
        border-radius: 2px;
    
    }
    .formContacto input.enviar {
        background-color: rgba(175,181,0,0.7);
        border: 1px solid rgba(175,181,0,0.7);
        line-height: 1.5rem;
        width: 20%;
        margin: 5% 40% 0% 40%;
        transition: all 0.3s ease;
    }
    .formContacto input.enviar:hover {
        background-color: rgba(175,181,0,1);
    }










.hide{
display: none;
}

.enviando{
    position: absolute;
    right: 150px;
    top: 5px;
}

.mensaje{
    color: #000;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: absolute;
    right: -155px;
    text-transform: uppercase;
    min-width: 121px;
}

.mensaje_ok{
    background: #527A31;
}

.mensaje_no{
    background: red;
}
    
