// -- BOTONES -- //

$btn-bordes: 40px

.btn
	font-size: $chica
	&:hover, &:active, &:focus
	outline: none

.btn-container
	margin: 10px 0 75px 0
	padding: 0

// -- Botón Naranja -- //
.btn-naranja
	background: $naranja
	+border-radius($btn-bordes)
	color: $blanco
	font-family: $bold
	&:hover, &:active
		background: $naranjaHover
		box-shadow: none
		color: $blanco
		outline: none
	&:focus
		appearence: none
		background: $naranja
		box-shadow: none
		color: $blanco
		outline: none

// -- Botón Gris -- //
.btn-gris
	background: $gris
	+border-radius($btn-bordes)
	color: $blanco !important
	font-family: $bold
	&:hover, &:active
		background: $grisHover
		box-shadow: none
		color: $blanco
		outline: none
	&:focus
		appearence: none
		background: $gris
		box-shadow: none
		color: $blanco
		outline: none


// -- Botón del Formulario -- //
.btn-formu
	background: transparent
	border: 2px solid $colorBtnFormu
	+border-radius($btn-bordes)
	color: $colorBtnFormu
	font-family: $semiBold
	font-size: $mediana
	transition: all ease 0.2s
	&:hover, &:focus
		color: $blanco
		background: $naranja
		border: 2px solid $naranja
		box-shadow: none
		outline: none
