// -- SECCIÓN CONTACTO -- //

.modal-content
	background-image: url("../img/fondoGris.jpg")

.modal-header, .modal-footer
	border: none
.modal-footer
	text-align: left

.modal-title
	color: #fff
	font-family: $bold
	font-size: $grande

.formContacto
	label
		color: #fff
		font-family: $semiBold
		font-size: $mediana
	input, textarea
		color: #fff
		background: transparent
		border: none
		box-shadow: none
		border-radius: 0px
		border-bottom: 1px solid $colorBorderBotton !important
		font-family: $semiBold
		resize: none
		transition: all ease 0.8s
		&:hover, &:focus
			border-bottom: 1px solid $blanco !important
			box-shadow: none