// -- FONTS -- //

$light: "Ligth"
$semiBold: "semiBold"
$bold: "Bold"

$grande: 48px
$semiGrande: 32px
$mediana: 24px


@font-face
	font-family: "Light"
	src: url("../fonts/TheSans-3-LightIta.otf")

@font-face
	font-family: "semiBold"
	src: url("../fonts/TheSans-6-SemiBold.otf")

@font-face
	font-family: "Bold"
	src: url("../fonts/TheSansBold.otf")