// -- SECCIÓN NAV -- //

.btn-languaje
	background: none
	color: $grisLanguaje
	font-family: $bold
	padding-left: 0px
	padding-right: 0px
	&:hover, &:focus, &:active
		background: none
		box-shadow: none
		color: $grisLanguaje
		outline: none 

.btn-languaje-active
	background: none
	color: $gris
	font-family: $bold
	padding-left: 0px
	padding-right: 0px 
	&:hover, &:focus, &:active
		background: none
		box-shadow: none
		color: $gris
		outline: none 
