// -- SECCIÓN TRABAJOS -- //

.trabajos
	background-image: url("../img/fondoGris.png")
	background-size: cover
	padding: 75px 0
	@media (max-width: 767px)
		background-image: url("../img/fondoGrisMovil.jpg")	
		background-size: contain
	.p1, .p2, .p3
		color: $blanco
	a
		display: block
		margin-top: 75px
		padding-left: auto
		padding-right: auto
	img
		display: inline-block
		@media (max-width: 991px)
			height: 150px