@font-face {
	font-family: "Josefin";
	src: url("../fonts/JosefinSans-Regular.ttf");
}
@font-face {
	font-family: "JosefinSemiBold";
	src: url("../fonts/JosefinSans-SemiBold.ttf");
}
body {
	font-family: Josefin;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
div.formu {
	background-color: rgba(0,0,0,0.8);
	border-radius: 5px;
}
.logo img {
	width: 100%;
	margin-bottom: 50px;
}
input.input {
	background-color: transparent;
	color: #fff;
	border-color: #fff;
	border-radius: 20px;
	box-shadow: none;
	transition: all 0.5s ease;
}
input[type="text"]:focus,
input[type="password"]:focus {
	border-color: transparent;
	box-shadow: 1px 1px 10px rgba(175,181,0,0.7), 
				-1px -1px 10px rgba(175,181,0,0.7);
}
input.button {
	font-family: JosefinSemiBold;
	background-color: #000;
	color: #fff;
	border-radius: 20px;
	margin-top: 40px;
	box-shadow: none;
	transition: all 0.5s ease;
}
input.button:hover,
input.button:focus,
input.button:active {
	color: rgba(175,181,0,1);
	border-color: transparent;
	box-shadow: 1px 1px 10px rgba(175,181,0,0.7), 
				-1px -1px 10px rgba(175,181,0,0.7);
}
.error {
	color: red;
}